.main_main {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 2rem;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;

  width: 50%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.filter_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;

  width: 100%;
}

.filter_form_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;

  width: 100%;
}

.filter_form_group label {
  font-size: 2rem;
  font-family: var(--font-primary);
  color: var(--color-gold);
}

.filter_form_group_field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 60%;
}

.dropdowns {
  width: 25%;
  padding: 1rem 0.5rem;
  border-color: var(--color-border);
  font-family: var(--font-primary);
}

.filter_form_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;

  width: 70%;
}

.button_submit {
  width: 25%;
  padding: 0.3rem;
  font-size: 2rem;
  font-family: var(--font-primary);
  color: var(--color-border);
  background: none;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.button_submit:hover {
  border: 1px solid var(--color-gold);
  background-color: var(--color-gold);
  color: white;
}

.filter_form_buttons .button_render_all {
  width: 25%;
  padding: 0.6rem;
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-primary);
  color: var(--color-border);
  background: none;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.filter_form_buttons .button_render_all:hover {
  border: 1px solid var(--color-gold);
  background-color: var(--color-gold);
  color: white;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;

  width: 100%;
  padding: 0 1rem;
}

.result_date {
  display: block;
  font-size: 1.5rem;
  color: var(--color-gold);
}

.result_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.result_title {
  font-size: 2rem;
  color: var(--color-gold);
}

.result_amount {
  font-size: 1.5rem;
  color: var(--color-gold);
}

.detail {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;

  width: 40%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.detail_title {
  font-size: 4rem;
  font-family: var(--font-primary);
  color: var(--color-gold);
}

.detail_date {
  font-size: 3rem;
  font-family: var(--font-primary);
}

.detail_amount {
  font-size: 3rem;
  font-family: var(--font-primary);
}

.detail_description {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  line-height: 1.5;
}

.button_edit {
  width: 25%;
  padding: 0.6rem;
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-primary);
  color: var(--color-border);
  background: none;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.button_edit:hover {
  border: 1px solid var(--color-gold);
  background-color: var(--color-gold);
  color: white;
}
