{% extends 'base.html' %} {% block content %} {% load static %}

<main class="body_main">
  <nav class="nav nav_add">
    <img
      class="logo"
      src="{% static 'my_app/images/logo_thin.png' %}"
      alt="App Logo"
    />
    <ul class="nav_items">
      <a class="nav_item" href="{% url 'my_app:main' %}">Dashboard</a>
      <a class="nav_item" href="#">Log out</a>
    </ul>
  </nav>

  <section class="add_main">
    <form class="add_form" method="POST">
      {% csrf_token %} {% for field in form %}

      <div class="add_form_group">
        <div class="add_form_group_label">{{field.label_tag}}</div>
        <div class="add_form_group_input">{{field}}</div>
        <div class="add_form_group_error">{{field.errors}}</div>
      </div>

      {% endfor %}
      <div class="add_form_buttons">
        <input class="button_submit" type="submit" />
        <a class="button_discard" href="{% url 'my_app:main' %}">Cancel</a>
      </div>
    </form>

    <!-- <form method="POST">
      {% csrf_token %}
      <div class="add_form_group">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" />
      </div>

      <div class="add_form_group">
        <label for="date">Date</label>
        <input id="date" type="text" name="date" />
      </div>

      <div class="add_form_group">
        <label for="amount">Amount</label>
        <input id="amount" type="text" name="amount" />
      </div>

      <div class="add_form_group">
        <label for="description">Description</label>
        <input id="description" type="text" name="description" />
      </div>

      <input class="button_submit" type="submit" />
      <a class="button_discard" href="{% url 'my_app:main' %}">Cancel</a>
    </form> -->
  </section>
</main>

{% endblock %}
