{% extends 'base.html' %} {% block content %} {% load static %}

<main class="body_main">
  <nav class="nav nav_main">
    <a class="logo_link" href="{% url 'my_app:landing' %}">
      <img
        class="logo"
        src="{% static 'my_app/images/logo_thin.png' %}"
        alt="App Logo"
      />
    </a>

    <ul class="nav_items">
      <a class="nav_item" href="{% url 'my_app:add' %}">Add new</a>
      {% if user.is_authenticated %}
      <a class="nav_item" href="{% url 'logout' %}">Logout</a>
      {% endif %}
    </ul>
  </nav>

  <section class="main_main">
    <ul class="results">
      <li class="filter">
        <form class="filter_form" method="GET">
          {% csrf_token %} {% for field in form %}
          <div class="filter_form_group">
            <div class="filter_form_group_label">{{ field.label_tag }}</div>
            <div class="filter_form_group_field">{{ field }}</div>
            <div class="filter_form_group_error">{{ field.errors }}</div>
          </div>
          {% endfor %}
          <div class="filter_form_buttons">
            <input class="button_submit" type="submit" value="Search" />
            <a class="button_render_all" href="{% url 'my_app:main' %}"
              >Get all</a
            >
          </div>
        </form>
      </li>
      {% for expense in expenses %}
      <li class="result" data-id="{{expense.id}}">
        <p class="result_date" data-id="{{expense.id}}">{{expense.date}}</p>
        <div class="result_box" data-id="{{expense.id}}">
          <span class="result_title" data-id="{{expense.id}}"
            >{{expense.title}}</span
          >
          <span class="result_amount" data-id="{{expense.id}}"
            >${{expense.amount}}</span
          >
          <span
            class="result_description"
            data-id="{{expense.id}}"
            style="display: none"
            >{{expense.description}}</span
          >
        </div>
      </li>
      {% endfor %}
    </ul>

    <div class="detail" style="display: none">
      <h1 class="detail_title"></h1>
      <h2 class="detail_date"></h2>
      <h2 class="detail_amount"></h2>
      <p class="detail_description"></p>
      <button class="button_edit">Edit</button>
    </div>
  </section>
</main>

{% if expenses %}
<script src="{% static 'my_app/js/main.js' %}"></script>
{% endif %} {% endblock %}
