{% extends 'base.html' %} {% block content %} {% load static %}

<main class="body_main">
  <nav class="nav nav_main">
    <img
      class="logo"
      src="{% static 'my_app/images/logo_thin.png' %}"
      alt="App Logo"
    />
    <ul class="nav_items">
      <li class="nav_item">Add new</li>
      <li class="nav_item">Log out</li>
    </ul>
  </nav>

  <section class="main_main">
    <ul class="results">
      <li class="filter">
        <form class="filter_form" method="GET">
          {% csrf_token %} {% for field in form %}
          <div class="filter_form_group">
            <div class="filter_form_group_label">{{ field.label_tag }}</div>
            <div class="filter_form_group_field">{{ field }}</div>
            <div class="filter_form_group_error">{{ field.errors }}</div>
          </div>
          {% endfor %}
          <div class="filter_form_buttons">
            <input class="button_submit" type="submit" value="Search" />
            <a class="button_render_all" href="{% url 'my_app:main' %}"
              >Get all</a
            >
          </div>
        </form>
      </li>
      {% for expense in expenses %}
      <li class="result">
        <p class="result_date">{{expense.date}}</p>
        <div class="result_box">
          <span class="result_title">{{expense.title}}</span>
          <span class="result_amount">{{expense.amount}}</span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>

{% endblock %}
